In [1]:
import pandas as pd

In [ ]:
"C:\Users\David Obembe\Desktop\SMU Study\SMU Project 2\SMU_Project_2\2019data.csv"

In [4]:
df = pd.read_csv(r"C:\Users\David Obembe\Desktop\SMU Study\SMU Project 2\SMU_Project_2\2019data.csv")

In [5]:
df.head()

,Unnamed: 0,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Street,City,State,Zipcode,Civil_Twilight
0,0,A-3503015,Bing,2,2019-07-30 23:57:59,2019-07-31 00:25:32,33.821650,-117.876270,CA-57 S,Anaheim,CA,92806,Night
1,1,A-3502850,Bing,2,2019-07-30 23:50:26,2019-07-31 03:50:26,44.615142,-117.491259,I-84 E,Huntington,OR,97907,Night
2,2,A-1064323,MapQuest,2,2019-07-30 23:49:24,2019-07-31 03:20:58,34.281811,-118.716583,Ronald Reagan Fwy W,Simi Valley,CA,93063,Night
3,3,A-1060571,MapQuest,2,2019-07-30 23:47:37,2019-07-31 00:37:00,40.790619,-73.202011,E Suffolk Ave,Central Islip,NY,11722-2340,Night
4,4,A-1060570,MapQuest,2,2019-07-30 23:45:31,2019-07-31 01:10:12,40.651737,-73.865746,Belt Pkwy W,Brooklyn,NY,11239,Night

In [6]:
df['State'].value_counts()

CA    54482
TX    30594
FL    25056
SC    22987
NC    18927
NY    18770
OR    13543
VA    10858
GA    10166
AZ     9646
UT     9446
OK     9404
TN     8899
AL     8228
MI     8218
LA     7931
IL     7796
PA     7769
MN     7329
CO     7310
WA     5909
NJ     5715
MD     5045
OH     4631
MO     3974
MA     3538
IN     2965
KY     2604
WI     2383
CT     2215
NE     1975
RI     1221
NV     1080
IA      864
NH      824
KS      804
MS      758
DC      754
NM      699
DE      634
AR      464
ME      285
WV      223
ID      190
VT       64
MT       47
WY       28
SD       19
ND        6
Name: State, dtype: int64

In [7]:
dayNight_df= df.groupby(['State', 'Civil_Twilight']).count()
dayNight_df= dayNight_df.reset_index()[['State','Civil_Twilight', 'ID']]

In [8]:
dayNight_df= dayNight_df.rename(columns={'ID':'Accident_count'})
dayNight_df

   State Civil_Twilight  Accident_count
0     AL            Day            7382
1     AL          Night             846
2     AR            Day             413
3     AR          Night              51
4     AZ            Day            8693
..   ...            ...             ...
92    WI          Night             214
93    WV            Day             176
94    WV          Night              47
95    WY            Day              24
96    WY          Night               4

[97 rows x 3 columns]

In [7]:
# dayNight_df.to_csv('dayNightData.csv')

In [8]:
### Practice creating months and grouping by months

In [9]:
df

,Unnamed: 0,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Street,City,State,Zipcode,Civil_Twilight
0,0,A-3503015,Bing,2,2019-07-30 23:57:59,2019-07-31 00:25:32,33.821650,-117.876270,CA-57 S,Anaheim,CA,92806,Night
1,1,A-3502850,Bing,2,2019-07-30 23:50:26,2019-07-31 03:50:26,44.615142,-117.491259,I-84 E,Huntington,OR,97907,Night
2,2,A-1064323,MapQuest,2,2019-07-30 23:49:24,2019-07-31 03:20:58,34.281811,-118.716583,Ronald Reagan Fwy W,Simi Valley,CA,93063,Night
3,3,A-1060571,MapQuest,2,2019-07-30 23:47:37,2019-07-31 00:37:00,40.790619,-73.202011,E Suffolk Ave,Central Islip,NY,11722-2340,Night
4,4,A-1060570,MapQuest,2,2019-07-30 23:45:31,2019-07-31 01:10:12,40.651737,-73.865746,Belt Pkwy W,Brooklyn,NY,11239,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...
347272,347272,A-1320029,MapQuest,2,2019-03-01 00:23:48,2019-03-01 00:53:32,38.103210,-122.514114,CA-37 E,Novato,CA,94945,Night
347273,347273,A-1320028,MapQuest,2,2019-03-01 00:19:56,2019-03-01 00:49:46,38.363258,-122.725243,Wilford Ln,Santa Rosa,CA,95407-8429,Night
347274,347274,A-3174133,Bing,4,2019-03-01 00:13:28,2019-03-01 05:12:08,43.261270,-122.428390,N Umpqua Hwy,Glide,OR,97443,Night
347275,347275,A-3174134,Bing,2,2019-03-01 00:10:17,2019-03-01 04:23:49,42.775101,-123.292037,I-5 S,Glendale,OR,97442,Night
347276,347276,A-3174132,Bing,2,2019-03-01 00:08:44,2019-03-01 04:08:44,42.599005,-123.383793,I-5 S,Grants Pass,OR,97526,Night

In [10]:
df['month'] = pd.DatetimeIndex(df['Start_Time']).month
df

,Unnamed: 0,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Street,City,State,Zipcode,Civil_Twilight,month
0,0,A-3503015,Bing,2,2019-07-30 23:57:59,2019-07-31 00:25:32,33.821650,-117.876270,CA-57 S,Anaheim,CA,92806,Night,7
1,1,A-3502850,Bing,2,2019-07-30 23:50:26,2019-07-31 03:50:26,44.615142,-117.491259,I-84 E,Huntington,OR,97907,Night,7
2,2,A-1064323,MapQuest,2,2019-07-30 23:49:24,2019-07-31 03:20:58,34.281811,-118.716583,Ronald Reagan Fwy W,Simi Valley,CA,93063,Night,7
3,3,A-1060571,MapQuest,2,2019-07-30 23:47:37,2019-07-31 00:37:00,40.790619,-73.202011,E Suffolk Ave,Central Islip,NY,11722-2340,Night,7
4,4,A-1060570,MapQuest,2,2019-07-30 23:45:31,2019-07-31 01:10:12,40.651737,-73.865746,Belt Pkwy W,Brooklyn,NY,11239,Night,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347272,347272,A-1320029,MapQuest,2,2019-03-01 00:23:48,2019-03-01 00:53:32,38.103210,-122.514114,CA-37 E,Novato,CA,94945,Night,3
347273,347273,A-1320028,MapQuest,2,2019-03-01 00:19:56,2019-03-01 00:49:46,38.363258,-122.725243,Wilford Ln,Santa Rosa,CA,95407-8429,Night,3
347274,347274,A-3174133,Bing,4,2019-03-01 00:13:28,2019-03-01 05:12:08,43.261270,-122.428390,N Umpqua Hwy,Glide,OR,97443,Night,3
347275,347275,A-3174134,Bing,2,2019-03-01 00:10:17,2019-03-01 04:23:49,42.775101,-123.292037,I-5 S,Glendale,OR,97442,Night,3
347276,347276,A-3174132,Bing,2,2019-03-01 00:08:44,2019-03-01 04:08:44,42.599005,-123.383793,I-5 S,Grants Pass,OR,97526,Night,3

In [11]:
newDayNight_df= df.groupby(['State', 'Civil_Twilight','month']).count()
newDayNight_df= newDayNight_df.reset_index()[['State','Civil_Twilight', 'ID', 'month']]

In [12]:
newDayNight_df= newDayNight_df.rename(columns={'ID':'Accident_count'})

In [13]:
newDayNight_df

    State Civil_Twilight  Accident_count  month
0      AL            Day            1544      3
1      AL            Day            1566      4
2      AL            Day            1489      5
3      AL            Day            1470      6
4      AL            Day            1313      7
..    ...            ...             ...    ...
472    WY            Day               3      6
473    WY            Day               4      7
474    WY          Night               2      3
475    WY          Night               1      4
476    WY          Night               1      7

[477 rows x 4 columns]

In [14]:
# newDayNight_df.to_csv('monthlyDayNightData_2019.csv')

In [15]:
# Practice creating city and grouping by city

In [16]:
df

,Unnamed: 0,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Street,City,State,Zipcode,Civil_Twilight,month
0,0,A-560480,MapQuest,3,2020-06-30 23:18:09,2020-06-30 23:47:46,38.189991,-85.766731,Southern Pkwy,Louisville,KY,40214-1508,Night,6
1,1,A-561184,MapQuest,3,2020-06-30 22:56:52,2020-06-30 23:26:26,32.767036,-96.859627,Tom Landry Fwy,Dallas,TX,75212,Night,6
2,2,A-561279,MapQuest,2,2020-06-30 22:52:37,2020-06-30 23:22:24,36.096111,-86.737648,Allied Dr,Nashville,TN,37211,Night,6
3,3,A-561183,MapQuest,2,2020-06-30 22:52:02,2020-06-30 23:17:54,32.837406,-96.814911,Dallas North Tollway S,Dallas,TX,75205,Night,6
4,4,A-560284,MapQuest,3,2020-06-30 22:51:25,2020-06-30 23:20:50,41.813580,-71.404823,I-195 W,Providence,RI,02903,Night,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361464,361464,A-2945377,Bing,2,2020-03-01 00:09:00,2020-03-01 03:41:22,40.589846,-122.460812,Eureka Way,Redding,CA,96001,Night,3
361465,361465,A-2945375,Bing,2,2020-03-01 00:07:00,2020-03-01 08:38:05,38.588726,-122.607046,Tubbs Ln,Calistoga,CA,94515-1055,Night,3
361466,361466,A-2945376,Bing,2,2020-03-01 00:05:00,2020-03-01 04:58:18,37.332477,-122.017696,I-280 N,Cupertino,CA,95014,Night,3
361467,361467,A-2945593,Bing,2,2020-03-01 00:04:00,2020-03-01 00:57:32,32.715204,-117.124173,CA-94 E,San Diego,CA,92102,Night,3
361468,361468,A-2945591,Bing,2,2020-03-01 00:01:00,2020-03-01 00:34:34,36.928328,-120.838127,I-5 N,Firebaugh,CA,93622,Night,3

In [17]:
newDayNight_df.dtypes

State             object
Civil_Twilight    object
Accident_count     int64
month              int64
dtype: object